.button-icon {
    background: none;
    border: none;
    cursor: pointer;  
    line-height: 0;
}

.button-icon--rounded-bg {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 100%;
}

.padding-y--small {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.padding-x--small {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}