.button-icon {
    background: none;
    border: none;
    cursor: pointer;  
    line-height: 0;
}

.button-icon--rounded-bg {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 100%;
}